@page "/Curriculo"


<PageTitle>curriculo</PageTitle>
<div style="display: flex; align-items: center">
    <img src="walter.jfif" style="max-width: 160px; border-radius: 150px;" />
    <h1>Felipe Martins Oliveira</h1>
</div>
<div style="border:5px solid pink; border-radius: 20px">
    <p>Contato: 69992898182</p>
    <p>cursando informatica</p>
    <p>portugues: nativo</p>
    <p>ingles: quase fluente</p>
    <p>Toco guitarra</p>
</div>
@code {

}
