@page "/Curriculo"

<PageTitle>Home</PageTitle>

<h1>curriculo sobre eu</h1>

<p>curriculo</p>

<p2>blalbalb</p2>
<p3>blablalbalbalb</p3>
<img src="walter.jfif" style="max-width: 160px; border-radius: 150px;"/>

<div>
    <p style="border: 1px solid black;"> Contato: 69992898182</p>
</div>
@code {

}
